.wrapper {
  display: grid;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

.list {
  --spacing: 4vw;

  margin: 0;
  padding: var(--spacing);
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--spacing);
  align-items: center;

  max-height: 600px;
  height: 100%;
}

.item {
  position: relative;
  height: 100%;
  overflow: hidden;

  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);

  &:hover {
    transform: scale(1.04);
  }

  --delay: 0.3s;
  --duration: 0.45s;

  &::after {
    content: '';
    background-color: #e2e2e2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;

    animation-name: stretch;
    animation-duration: var(--duration);
    animation-delay: calc((var(--index) + 1) * var(--delay));
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, 0, 0.98, 0.24);
    transform-origin: top;
  }
}

.image {
  filter: grayscale(1) sepia(0.4);
  object-fit: cover;
  transition: transform 0.5s, opacity 0.4s;

  animation-name: zoom-in;
  animation-duration: 1s;
  animation-delay: calc(var(--total-count) * var(--delay) + var(--duration));
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.imageOverlay {
  transform-origin: var(--x) var(--y);
  filter: grayscale(0);

  clip-path: circle(0% at var(--x) var(--y));
  opacity: 0;
}

.imageOverlayVisible {
  opacity: 1;
  clip-path: circle(30% at var(--x) var(--y));
}

@keyframes stretch {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

@keyframes zoom-in {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}
