:root {
  --cursor: pointer;

  --color-background: #e2e2e2;
  --color-primary: #1e1b18;
}

body {
  background-color: var(--color-background);
}

body {
  cursor: var(--cursor);
}

root,
body {
  min-height: 100vh;
}
