.wrapper {
  position: fixed;
  z-index: 100;

  --sizing: 48px;

  width: var(--sizing);
  height: var(--sizing);
  pointer-events: none;

  transform: translate(var(--x), var(--y));
}

.hidden {
  transform: scale(0);
}

.cursor {
  transition: transform 0.2s linear;

  animation-name: show-up;
  animation-duration: 1s;
  animation-fill-mode: backwards;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 50%;
}

@keyframes show-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
